$link-color: #48aff0;
$btn-primary-color: #48aff0;
$base-button-color: $grey-dk-250;
$sidebar-color: #394B59fa;
$body-background-color: #202b33fa;
$body-text-color: #FFFFFF;
$body-heading-color: #F5F8FA;
$nav-child-link-color: #E9ECEF;
$border-color: #808080;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);
$search-result-preview-color: $grey-dk-000;
$search-background-color: $grey-dk-250;
@import "./vendor/OneDarkJekyll/syntax-one-dark-vivid";
$code-background-color: #394B59;
.highlight, pre.highlight {
    background-color: #394B59 !important;
}
th, td {
    background-color: #394B59 !important;
}