name: ci 
on:
  push:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - uses: actions/setup-node@v4
      - run: |
          npm i
          npm i -g ts-node
          cd builder
          mkdir dist dist/plugins dist/themes
          ts-node build.ts
          cp dist/plugins/* ../docs/plugins/list.md
          cp dist/themes/* ../docs/themes/list.md
      - run: pip install \ 
               mkdocs-material=="9.*" \
               mkdocs-rss-plugin \
               mkdocs-git-revision-date-localized-plugin \
               mkdocs-git-committers-plugin-2 \
               mkdocs-glightbox \
               mkdocs-material[imaging] \
               mkdocs-redirects
      - run: mkdocs gh-deploy --force
